   <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="box">
       <%  @start_time = Time.now %>
        <h1>Welcome to the longest word-game!</h1>
        <p>Here is your grid:</p>
          <table>
            <tr>
            <% @grid.each do |letter| %>
               <td class = letter><%= letter %> </td>
               <% end %>
            </tr>
          </table>
        <form action="/score" class="form-inline">
        <label for="longword">Find the longest word ! What's your best shot? <br></label>
        <input type="text" text = "Let's check !" name="wordinput" class="form-control">
        <input type="submit" value="Go!" class="form-control">
        <input type="hidden" value ="<%= @start_time %>" name="start" >
         <input type="hidden" value ="<%= @grid %>" name="grid" >
        </form>
    </div>
  </div>
</div>

