<div class="col-xs-4 col-xs-offset-3 box">

  <h1>Check your result</h1>

  <p>Your word:<br> <%= @wordtyped.upcase %> </p><br>
  <p>Time Taken to answer: <%= @timetaken %> </p><br>
  <p>Your score: <%= @score %></p><br>
  <p>Message: <%= @message %></p>

</div>
